.stopwatch {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
  }
  
  button {
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  body{
    background-color: black;
  }
  h1{
    color: #fff;
    text-align: center;
  }